<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{/fragments/layout}">
<head>
	<title>Recruiter</title>
	
	<!-- JS Files -->
	<script th:src="@{/js/recruiter.js}"></script>
</head>
<body>
<div layout:fragment="content">
<div class="area">
<div>
<p class="title is-2 is-spaced">Welcome, <span th:text="${user.firstName}">NOT FOUND</span>!</p>
<article class="message is-link">
  <div class="message-body">
    20 unhandled applications
  </div>
</article>
</div>
<hr>
<div class="flex-container">
<div>
<h6 class="title is-6">Unhandled applications</h6>
	<table class="table is-fullwidth" id="avail-table">
			<thead>
				<tr>
					<th>
						First name
					</th>
					<th>
						Last name
					</th>
					<th>
						Email
					</th>
					<th>
						Date of birth
					</th>
					<th>
						Status
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="has-background-white-bis">
				<td>Martin</td>
				<td>Tillberg</td>
				<td>tillber@kth.se</td>
				<td>1998-10-10</td>
				<td>UNHANDLED</td>
				</tr>
				<tr><td colspan="7" class="application no-padding"><p>Hello World</p></td></tr>
				<tr class="has-background-white-bis">
				<td>Martin</td>
				<td>Tillberg</td>
				<td>tillber@kth.se</td>
				<td>1998-10-10</td>
				<td>UNHANDLED</td>
				</tr>
				<tr class="has-background-white-bis">
				<td>Martin</td>
				<td>Tillberg</td>
				<td>tillber@kth.se</td>
				<td>1998-10-10</td>
				<td>UNHANDLED</td>
				</tr>
			</tbody>
		</table>
		</div>
</div>
<hr>
<div class="flex-container">
<div>
<h6 class="title is-6">Handled applications</h6>
	<table class="table is-fullwidth" id="avail-table">
			<thead>
				<tr>
					<th>
						First name
					</th>
					<th>
						Last name
					</th>
					<th>
						Email
					</th>
					<th>
						Date of birth
					</th>
					<th>
						Status
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="has-background-primary-light">
				<td>Martin</td>
				<td>Tillberg</td>
				<td>tillber@kth.se</td>
				<td>1998-10-10</td>
				<td>ACCEPTED</td>
				<td><button class='button is-small'>See application</button></td>
				</tr>
				<tr class="has-background-danger-light">
				<td>Martin</td>
				<td>Tillberg</td>
				<td>tillber@kth.se</td>
				<td>1998-10-10</td>
				<td>REJECTED</td>
				<td><button class='button is-small'>See application</button></td>
				</tr>
			</tbody>
		</table>
		</div>
</div>
<hr>
</div>
</div>
</body>
</html>
