<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>RecruitmentApplication</title>
<!-- CSS Files -->
<link rel="stylesheet" th:href="@{/css/applicant.css}"/>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" href="../../static/css/applicant.css"/>
<link rel="stylesheet" href="../../static/css/style.css"/>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script th:src="@{/js/applicant.js}"></script>
<script src="../../static/js/applicant.js"></script>
<!-- Bulma.io CSS Framework CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous" />
<!-- FontsAwesome -->
<script src="https://kit.fontawesome.com/cf38924cc4.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="area">
<article class="message is-warning">
  <div class="message-body">
    <b>You have not posted your application.</b> Please fill in your profile below and provide us with information about your experience and availability, and then submit your application. 
  </div>
</article>
<hr>
<h6 class="subtitle is-6">Personal information</h6>
<div class="flex-container">
<div class="field">
	  <label class="label">First name</label>
	  <div class="control">
	    <input class="input" type="text" value="Martin">
	  </div>
	</div>
<div class="field">
	  <label class="label">Last name</label>
	  <div class="control">
	    <input class="input" type="text" value="Tillberg">
	  </div>
	</div>
<div class="field">
	  <label class="label">Email</label>
	  <div class="control">
	    <input class="input" type="email" value="tillber@kth.se">
	  </div>
	</div>
<div class="field">
	  <label class="label">Date of birth</label>
	  <div class="control">
	    <input class="input" type="date">
	  </div>
	</div>
</div>
<hr>
<h6 class="subtitle is-6">Experience</h6>
<div class="flex-container">
	<div class="field">
		<label class="label">Area of expertise</label>
		<div class="control">
			<div class="select">
				<select id="exp-area">
					<option>Select dropdown</option>
					<option>With options</option>
				</select>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="label">Number of years</label>
		<div class="control">
			<input class="input" type="number" value="1" min="1" id="exp-years" required>
		</div>
	</div>
	<div class="field">
		<label class="label">	&nbsp;</label>
		<div class="control">
			<button class="button" id="add-exp">Add experience</button>
		</div>
	</div>
</div>
<div class="flex-container">
<div>
	<table class="table is-fullwidth" id="exp-table">
			<thead>
				<tr>
					<th>
						Area of expertise
					</th>
					<th>
						Number of years
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
		</div>
</div>
<hr>
<h6 class="subtitle is-6">Availability</h6>
<div class="flex-container">
	<div class="field">
		<label class="label">From</label>
		<div class="control">
			<input id="avail-from" class="input" type="date" required>
		</div>
	</div>
	<div class="field">
		<label class="label">To</label>
		<div class="control">
			<input id="avail-to" class="input" type="date" required>
		</div>
	</div>
	<div class="field">
		<label class="label">	&nbsp;</label>
		<div class="control">
			<button class="button" id="add-avail">Add period</button>
		</div>
	</div>
</div>
<div class="flex-container">
<div>
	<table class="table is-fullwidth" id="avail-table">
			<thead>
				<tr>
					<th>
						From
					</th>
					<th>
						To
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
		</div>
</div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>