<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>RecruitmentApplication</title>
<!-- CSS Files -->
<link rel="stylesheet" th:href="@{/css/applicant.css}"/>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" href="../../static/css/applicant.css"/>
<link rel="stylesheet" href="../../static/css/style.css"/>
<link rel="stylesheet" href="../../static/css/bulma-steps/bulma-steps.min.css"/>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{/css/bulma-steps/bulma-steps.min.css}"/>

<!-- Bulma.io CSS Framework CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous" />

<!-- FontsAwesome CDN-->
<script src="https://kit.fontawesome.com/cf38924cc4.js" crossorigin="anonymous"></script>

<!--  JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="../../static/js/bulma-steps/bulma-steps.js"></script>
<script th:src="@{/js/bulma-steps/bulma-steps.js}"></script>
<script> bulmaSteps.attach(); </script>

<script src="../../static/js/applicant.js"></script>
<script th:src="@{/js/applicant.js}"></script>
</head>
<body>
<div th:replace="fragments/navbar"></div>
<div class="area">
<div class="steps is-small">
  <div class="step-item is-active">
    <div class="step-marker">
      <i class="fas fa-check"></i>
    </div>
    <div class="step-details is-active">
      <p class="step-title">Application</p>
      <p class="step-text">The first step of the recruitment process is to send in your application. Please provide us with some information below, and then submit your application.</p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker">
    	<i class="fas fa-check"></i>
    </div>
    <div class="step-details">
      <p class="step-title">Examination</p>
      <p class="step-text">During the second step, your application will be processed and reviewed by a recruiter who will take a look at and examine your experiences.</p>
    </div>
  </div>
  <div class="step-item">
    <div class="step-marker">
    	<i class="fas fa-check"></i>
    </div>
    <div class="step-details">
      <p class="step-title">Decision</p>
      <p class="step-text">After that we have examined your application, a recruiter will contact you to tell you about our decision (rejected or accepted) of your application. </p>
    </div>
  </div>
</div>
<div th:switch="${application.status}">
  <div th:case="#{status.submitted}">
  	<article class="message is-link is-small">
	  <div class="message-body">
	    <b>We have received your application. </b> Your application will be processed by one of our recruiters, and you will hear from us soon. Good luck!
	  </div>
	</article>
  </div>
  <div th:case="#{status.accepted}">
  	<article class="message is-primary is-small">
	  <div class="message-body">
	    <b>Your application has been accepted!</b> Congratulations, your application has been accepted. A recruiter will contact you soon with further information and details.
	  </div>
	</article>
  </div>
  <div th:case="#{status.rejected}">
  <article class="message is-danger is-small">
	  <div class="message-body">
	    <b>Your application was rejected.</b> We are sorry to tell you that your application has been rejected.
	  </div>
	</article>
  </div>
  <div th:case="*">
  	<article class="message is-warning is-small	">
	  <div class="message-body">
	    <b>You have not posted your application.</b> Please fill in your profile below and provide us with information about your experience and availability, and then submit your application.
	  </div>
	</article>
  </div>
</div>
<h5 class="title is-5 application-title">Your application</h5>
<hr>
<h6 class="subtitle is-6">Personal information</h6>
<div class="flex-container">
<div class="field">
	  <label class="label">First name</label>
	  <div class="control">
	    <input class="input" type="text" value="Martin" readonly>
	  </div>
	</div>
<div class="field">
	  <label class="label">Last name</label>
	  <div class="control">
	    <input class="input" type="text" value="Tillberg" readonly>
	  </div>
	</div>
<div class="field">
	  <label class="label">Email</label>
	  <div class="control">
	    <input class="input" type="email" value="tillber@kth.se" readonly>
	  </div>
	</div>
<div class="field">
	  <label class="label">Date of birth</label>
	  <div class="control">
	    <input class="input" type="date" readonly>
	  </div>
	</div>
</div>
<hr>
<h6 class="subtitle is-6">Experience</h6>
<div class="flex-container">
	<div class="field">
		<label class="label">Area of expertise</label>
		<div class="control">
			<div class="select">
				<select id="exp-area">
					<option>Select dropdown</option>
					<option>With options</option>
				</select>
			</div>
		</div>
	</div>
	<div class="field">
		<label class="label">Number of years</label>
		<div class="control">
			<input class="input" type="number" value="1" min="1" id="exp-years" required>
		</div>
	</div>
	<div class="field">
		<label class="label">	&nbsp;</label>
		<div class="control">
			<button class="button" id="add-exp">Add experience</button>
		</div>
	</div>
</div>
<div class="flex-container">
<div>
	<table class="table is-fullwidth" id="exp-table">
			<thead>
				<tr>
					<th>
						Area of expertise
					</th>
					<th>
						Number of years
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
		</div>
</div>
<hr>
<h6 class="subtitle is-6">Availability</h6>
<form id="avail-form">
<div class="flex-container">
	<div class="field">
		<label class="label">From</label>
		<div class="control">
			<input id="avail-from" class="input" type="date" required>
		</div>
	</div>
	<div class="field">
		<label class="label">To</label>
		<div class="control">
			<input id="avail-to" class="input" type="date" required>
		</div>
	</div>
	<div class="field">
		<label class="label">	&nbsp;</label>
		<div class="control">
			<input type="submit" class="button" value="Add period"/>
		</div>
	</div>
</div>
</form>
<div class="flex-container">
<div>
	<table class="table is-fullwidth" id="avail-table">
			<thead>
				<tr>
					<th>
						From
					</th>
					<th>
						To
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				</tr>
			</tbody>
		</table>
		</div>
</div>
<hr>
<div class="send-application">
  <button class="button is-link">Send application</button>
</div>
</div>
</body>
<div th:replace="fragments/footer"></div>
</html>
