<div th:switch="${application.status}">
  <div th:case="#{status.applied}">
  	<article class="message is-link is-small">
	  <div class="message-body">
	    <b>We have received your application. </b> Your application will be processed by one of our recruiters, and you will hear from us soon. Good luck!
	  </div>
	</article>
  </div>
  <div th:case="#{status.accepted}">
  	<article class="message is-primary is-small">
	  <div class="message-body">
	    <b>Your application has been accepted!</b> Congratulations, your application has been accepted. A recruiter will contact you soon with further information and details.
	  </div>
	</article>
  </div>
  <div th:case="#{status.rejected}">
  <article class="message is-danger is-small">
	  <div class="message-body">
	    <b>Your application was rejected.</b> We are sorry to tell you that your application has been rejected.
	  </div>
	</article>
  </div>
  <div th:case="*">
  	<article class="message is-warning is-small	">
	  <div class="message-body">
	    <b>You have not posted your application.</b> Please fill in your profile below and provide us with information about your experience and availability, and then submit your application.
	  </div>
	</article>
  </div>
</div>