<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/applicant/index">
      RecruitmentApplication
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    
    </div>
    <div class="navbar-menu">
    <div class="navbar-end">
    <div class="navbar-item">
    	<p th:text="${user.firstName}">NOT FOUND</p>
    </div>
      <div class="navbar-item">
        <div class="field">
          <p class="control">
            <a class="button is-danger is-outlined is-small" th:href="@{/logout}">Logout</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>