.select select{
	width: 100% !important;
}
.select{
	width: 100% !important;
}
tr td:last-child{
	text-align: right !important;
}
tr:empty:before{
	content: "Empty";
}
div.send-application{
	text-align: right;
	padding-bottom: 2rem;
}
p.step-text{
	font-size: 0.85rem;
	width: 20rem;
	margin: auto;
}
.application-title{
	margin-top: 2rem;
}