.select select{
	width: 100% !important;
}
.select{
	width: 100% !important;
}
tr td:last-child{
	text-align: right !important;
}
tr:empty:before{
	content: "Empty";
}
div.send-application{
	text-align: right;
	padding-bottom: 2rem;
}