.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-top: 2rem;
}
.message-body{
	padding: 0.75rem 1.5rem !important;
	margin-bottom: 1rem !important;
}
div.login-form{
	width: 20rem;
	height: 30rem;
	margin-top: 5rem;
}
div.register-form{
	width: 40rem;
	height: 38rem;
}
div.flex-container > div{
	padding-top: 0 !important;
}
.label{
	color: #363636;
    display: block;
    font-size: 0.75rem;
    font-weight: 400;
}
div.form-title{
	text-align:center;
	margin-bottom: 2rem;
}
button.login-button{
	width: 100%;
}
a.register-button{
	margin-top: 1.5rem;
}
input[type="date"]::-webkit-clear-button {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
