body, html{
	height: 100%;
	margin: 0;
}
.navbar-brand{
	margin-left: 1rem !important;
}
footer{
    padding: 1rem !important;
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}
div.area{
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-top: 1.5rem;
}
div.flex-container{
	display: flex;
	flex-wrap: nowrap;
}
div.flex-container > div{
	width: 100%;
	padding-top: 1rem;
	padding-right: 1rem;
}
div.flex-container > div:last-child{
	padding-right: 0;
}
.label{
	font-size: 0.9rem !important;
	font-weight: 500 !important;
}
.subtitle{
	margin-bottom: 0 !important;
}
div.alert{
	padding: 1rem;
}