body, html{
	height: 100%;
	margin-bottom: 4rem;
}
footer{
	position: fixed;
	width: 100%;
	bottom: 0;
}
.footer{
	padding: 1rem !important;
}
div.area{
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	margin-top: 1.5rem;
}
div.flex-container{
	display: flex;
	flex-wrap: nowrap;
}
div.flex-container > div{
	width: 100%;
	padding-top: 1rem;
	padding-right: 1rem;
}
div.flex-container > div:last-child{
	padding-right: 0;
}
.label{
	font-size: 0.9rem !important;
	font-weight: 500 !important;
}
.subtitle{
	margin-bottom: 0 !important;
}