<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="@{/fragments/layout}">
	<head>
		<title>Login</title>
		
		<!-- CSS Files -->
		<link rel="stylesheet" th:href="@{/css/login.css}"/>
	</head>
	<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="login-form">
				<form method="post" th:action="@{/login}">
					<div class="form-title">
						<img src="https://ssl.gstatic.com/images/branding/product/2x/avatar_circle_blue_48dp.png"/>
					</div>
					<div th:if="${param.error}" class="alert alert-error">
						<article class="message is-danger">
							<div class="message-body">
								Bad credentials!
							</div>
						</article>
					</div>
					<div class="field">
						<div class="control">
							<input class="input" type="text" placeholder="Username" name="username" required>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<input class="input" type="password" placeholder="Password" name="password" required>
						</div>
					</div>
					<div class="control">
						<input class="button is-primary is-fullwidth" type="submit" value="Login"/>
					</div>
				</form>
				<div class="control">
					<a class="button is-link is-light is-fullwidth is-small register-button" th:href="@{/register}">Register account</a>
				</div>
			</div>
		</div>
		</div>
	</body>
</html>
