<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>RecruitmentApplication</title>
<!-- CSS Files -->
<link rel="stylesheet" th:href="@{/css/login.css}"/>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" href="../static/css/applicant.css"/>
<link rel="stylesheet" href="../static/css/style.css"/>
<link rel="stylesheet" href="../static/css/login.css"/>
<!-- Bulma.io CSS Framework CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous" />
</head>
<body>
<div class="container">
<div class="register-form">
<form method="post" th:action="@{/login}">
<div class="form-title">
<!--<p class="title is-4">Recruitment Application</p>
<p class="subtitle is-6">Java REST Web App deployed on Heroku</p>-->
<img src="https://ssl.gstatic.com/images/branding/product/2x/avatar_circle_blue_48dp.png"/>
</div>
<div class="flex-container">
<div class="field">
  <label class="label">First name</label>
  <div class="control">
    <input class="input" type="text" placeholder="">
  </div>
</div>
<div class="field">
  <label class="label">Last name</label>
  <div class="control">
    <input class="input" type="text" placeholder="">
  </div>
</div>
</div>
<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" placeholder="">
  </div>
</div>
<div class="flex-container">
<div class="field">
  <label class="label">Username</label>
  <div class="control">
    <input class="input" type="text" placeholder="">
  </div>
</div>
<div class="field">
  <label class="label">Password</label>
  <div class="control">
    <input class="input" type="password" placeholder="">
  </div>
</div>
</div>
<div class="field">
  <label class="label">Date of birth</label>
  <div class="control">
    <input class="input" type="date" placeholder="">
  </div>
</div>
<div class="control">
  <input class="button is-primary is-fullwidth" type="submit" value="Register"/>
  </div>
</form>
<div class="control">
  <a class="button is-link is-light is-fullwidth is-small register-button" th:href="@{/login}">Already have an account?</a>
</div>
</div>
</div>
</body>
</html>